<div class="row">
  <div class="card text-center mx-auto p-2 m-2">
      <div class="card-header text-white bg-primary">
        Register
      </div>
      <div class="card-body">
        <div class="form-group row">
          <label for="txtuname" class="col-sm-4">User Name</label>
          <div class="col-sm-8">
              <input type="text" [(ngModel)]="newregister.username" id="txtuname" placeholder="Enter User Name" class="form-control" />
          </div>
        </div>
        <div class="form-group row">
          <label for="txtupasswork" class="col-sm-4">Password</label>
          <div class="col-sm-8">
              <input type="password" [(ngModel)]="newregister.password" id="txtupasswork" placeholder="Enter User password" class="form-control" />
          </div>
        </div>
        <div class="form-group row">
          <label for="txtupasswork" class="col-sm-4">  confrim Password</label>
          <div class="col-sm-8">
              <input type="password" [(ngModel)]="newregister.confirmPassword" id="txtupasswork" placeholder="pleace confirm Password" class="form-control" />
          </div>
        </div>
      <div class="card-footer text-muted">
        <P class="text-danger">{{registerErrorMsg}}</P>
   
        <button class="btn btn-success" (click)="registerclick()">Register</button> <br> <br>

        <button class="btn btn-success" (click)="loginWithGoogle()">Sign in with Google</button>

      </div>
    </div>
  </div>